<div hx-get="{% url 'cart:hx_menu_cart' %}"
     hx-trigger="update-menu-cart from:body"
     hx-swap="innerHTML"
     class="flex items-center justify-end w-full mt-3">
    <button id="cart-menu" class="text-gray-600 focus:outline-none mx-4 sm:mx-0"
            onclick="window.location='{% url 'cart:cart' %}'">
        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             viewBox="0 0 24 24" stroke="currentColor">
            <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
        </svg>
        <span class="p-2 relative -top-5 -right-3 bg-indigo-600 text-white text-xs rounded-full">{{ cart|length }}</span>
    </button>
</div>